<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beeper.sms">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:extractNativeLibs="true">
        <activity
            android:name=".activity.NewChatActivity"
            android:theme="@style/Theme.BeeperSMSBridge.NoActionBar" />

        <receiver
            android:name=".receivers.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.android.mms.transaction.PushReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity
            android:name=".ComposeSmsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <!-- Service that delivers messages from the phone "quick response" -->
        <service
            android:name=".HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <service android:name=".BridgeService" />

        <service android:name="com.android.mms.transaction.TransactionService" />

        <receiver
            android:name=".receivers.MySentReceiver"
            android:taskAffinity="${applicationId}.SMS_SENT" />

        <receiver
            android:name=".receivers.MyDeliveredReceiver"
            android:taskAffinity="${applicationId}.SMS_DELIVERED" />

        <receiver
            android:name=".receivers.MyMmsSentReceiver"
            android:taskAffinity="com.klinker.android.messaging.MMS_SENT" />

        <receiver
            android:name=".receivers.MmsReceiver"
            android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED" />

        <receiver
            android:name=".receivers.DefaultSmsAppReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.action.DEFAULT_SMS_PACKAGE_CHANGED" />
                <action android:name="android.provider.action.EXTERNAL_PROVIDER_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.StartupReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>